src/index.pug
.nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-bottom(role="navigation")
	.container
		a.navbar-brand(href='https://omgninjas.me', target="_blank") omgninjas
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarResponsive.collapse.navbar-collapse
		ul.navbar-nav.ml-auto
			li.nav-item.active
				a.nav-link#refresh.refresh.btn(href='#', role="button") Fetch a new one
				span.sr-only (current)
			li.nav-item
				a.nav-link#tweet(href="#", target="_blank")
					i.fab.fa-twitter(aria-hidden="true")
// Page Content
section
	.container
		.row
			.col-lg-12
				h1.mt-5#cite
				.quote-block
					blockquote.animated.fadeIn.icon#quote

docs/index.html
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Random Quote Machine</title>
  <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'><link rel="stylesheet" href="./style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="nav navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom" role="navigation">
  <div class="container"><a class="navbar-brand" href="https://omgninjas.me" target="_blank">omgninjas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive"></div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a class="nav-link refresh btn" id="refresh" href="#" role="button">Fetch a new one</a><span class="sr-only">(current)</span></li>
      <li class="nav-item"><a class="nav-link" id="tweet" href="#" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>
<!-- Page Content-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5" id="cite"></h1>
        <div class="quote-block">
          <blockquote class="animated fadeIn icon" id="quote"></blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script><script  src="./script.js"></script>

</body>
</html>
